@model CILantroTestManager.ViewModels.Tests.TestsAddViewModel

<h2>Add test</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Add", "Tests", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.ShortPath)

            <div class="form-group">
                @Html.Label("Name", new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.TestName, new { @class = "form-control", @readonly = true })
                </div>
            </div>

            <div class="form-group">
                @{
                    var categoriesSelectList = Model.AllCategories.Select(c => new SelectListItem
                    {
                        Text = c.Name,
                        Value = c.Id.ToString()
                    });
                }

                @Html.Label("Category", new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.CategoryId, categoriesSelectList, new { @class = "form-control", autofocus = true })
                </div>
            </div>

            <div class="form-group">
                @{
                    var allSubcategories = Model.AllCategories.SelectMany(c => c.Subcategories);
                }

                @Html.Label("Subcategory", new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    <select name="@Html.NameFor(m => m.SubcategoryId)" id="@Html.IdFor(m => m.SubcategoryId)" class="form-control">
                        @foreach (var subcategory in allSubcategories)
                        {
                            <option value="@subcategory.Id" data-category-id="@subcategory.CategoryId">
                                @subcategory.Name
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

<script>
    function refreshSubcategoriesList() {
        var selectedCategoryId = $('#@Html.IdFor(m => m.CategoryId)').val();

        $('#@Html.IdFor(m => m.SubcategoryId)')
            .children('option')
            .show();

        $('#@Html.IdFor(m => m.SubcategoryId)')
            .children('option')
            .filter((index, element) => element.getAttribute('data-category-id') !== selectedCategoryId)
            .hide();

        $('#@Html.IdFor(m => m.SubcategoryId)').val('');
    }

    $(function () {
        refreshSubcategoriesList();

        $('#@Html.IdFor(m => m.CategoryId)').change(function () {
            refreshSubcategoriesList();
        });
    });
</script>