<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CILantro Test Manager</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/app")

    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("CILantro Test Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Manage tests", "Index", "Tests", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Find tests", "Find", "Tests", null, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Manage categories", "Index", "Categories", null, new { @class = "nav-link" })</li>
            </ul>

            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <hr />
            <p class="text-center">&copy; @DateTime.Now.Year - CILantro Test Manager</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>