@model CILantroTestManager.ViewModels.Categories.CategoriesIndexViewModel

<h2>
    Manage categories
    <a href="@Url.Action("Add", "Categories")" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        Add
    </a>
</h2>

@if (Model.Categories.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><h4><strong>Category</strong></h4></th>
                <th scope="col"><h4><strong>Subcategories</strong></h4></th>
                <th scope="col"><h4><strong>Actions</strong></h4></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model.Categories)
            {
                var firstSubcategoryName = category.Subcategories.FirstOrDefault()?.Name ?? "---";

                <tr>
                    <td><strong>@category.Name</strong></td>
                    <td>@firstSubcategoryName</td>
                    <td>
                        <a href="@Url.Action("AddSubcategory", "Categories", new { categoryId = category.Id })" type="button" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add subcategory
                        </a>
                    </td>
                </tr>

                foreach(var subcategory in category.Subcategories.Skip(1))
                {
                    <tr>
                        <td></td>
                        <td>@subcategory.Name</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <text>No categories could be found.</text>
}