@model CILantroTestManager.ViewModels.Categories.CategoriesIndexViewModel

<h2>
    Manage categories
    <a href="@Url.Action("Add", "Categories")" class="btn btn-success">
        <span class="fa fa-plus"></span>
        Add
    </a>
</h2>

@if (Model.Categories.Count() > 0)
{
    <table class="table table-striped categories-table">
        <thead>
            <tr>
                <th scope="col"><h5><strong>Category</strong></h5></th>
                <th scope="col"><h5><strong>Subcategories</strong></h5></th>
                <th scope="col"><h5><strong>Actions</strong></h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                var firstSubcategoryName = category.Subcategories?.FirstOrDefault()?.Name ?? "---";

                <tr>
                    <td><strong>@category.Name</strong></td>
                    <td>@firstSubcategoryName</td>
                    <td>
                        <a href="@Url.Action("AddSubcategory", "Categories", new { categoryId = category.Id })" class="btn btn-success btn-sm">
                            <span class="fa fa-plus"></span>
                            Add subcategory
                        </a>
                    </td>
                </tr>

                if (category.Subcategories != null)
                {
                    foreach (var subcategory in category.Subcategories.Skip(1))
                    {
                        <tr>
                            <td></td>
                            <td>@subcategory.Name</td>
                            <td></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <text>No categories could be found.</text>
}